{% load pages_tags mezzanine_tags i18n %}
<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>

{% ifinstalled mezzanine.blog %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url blog_post_feed "rss" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url blog_post_feed "atom" %}">
{% endifinstalled %}
<link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">
<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css">
{#<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.responsive.css">#}
<link rel="stylesheet" href="{{ STATIC_URL }}css/mezzanine.css">
{% ifinstalled cartridge.shop %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/cartridge.css">
{% endifinstalled %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/theme.css">

<script src="{{ STATIC_URL }}mezzanine/js/{{ settings.JQUERY_FILENAME }}"></script>
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-tooltip.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-popover.js"></script>
<script>
$(function() {
    $('.middleinput:text, textarea').addClass('xlarge');
    $('.control-group label').addClass('control-label');
});
</script>
<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

{% block extra_head %}{% endblock %}

</head>
<body id="{% block body_id %}body{% endblock %}">

<div id="headerwrapper" class="container">
<div id="header" class="row">
    <div id="headertitle" class="span6">
        <div>{% if settings.SITE_TITLE %}<a class="brand" href="/">{{ settings.SITE_TITLE }}</a>{% endif %}</div>
        <div>{% if settings.SITE_TAGLINE %}<p class="tagline">{{ settings.SITE_TAGLINE }}</p>{% endif %}</div>
    </div>
    <div id="headercontacts" class="span2">
        {% if settings.SITE_CONTACT_PHONE %}Телефон: {{ settings.SITE_CONTACT_PHONE }}<br />{% endif %}
        {% if settings.SITE_CONTACT_ICQ %}ICQ: {{ settings.SITE_CONTACT_ICQ }}<br />{% endif %}
        {% if settings.SITE_CONTACT_SKYPE %}Skype: {{ settings.SITE_CONTACT_SKYPE }}<br />{% endif %}
    </div>
    <div id="headerpanel" class="span4">
        {% include "accounts/includes/user_panel.html" %}
        {#% include "includes/cart_panel.html" %#}
        <form action="{% url search %}" class="form-search">
        <input class="input-medium" placeholder="Что ищете?" type="text" name="q" value="{{ request.REQUEST.q }}">
        <button type="submit" class="btn btn-small"><i class="icon-search"></i></button>
        </form>
    </div>
</div><!-- /#header row -->

<!--<div class="row"><div class="span12">-->

    <div id="headernavigation">
        {% page_menu "pages/menus/primary.html" %}
    </div>
<!--</div></div>-->
<!-- row -->
</div><!-- headerwrapper -->

{% block contentwrapper %}
<div id="topwrapper" class="container">

{% for message in messages %}
<div class="alert alert-{{ message.tags }}" data-alert="alert">
<a class="close" href="#" onclick="$(this).parent().fadeOut('fast'); return false;">×</a>{{ message }}
</div>
{% endfor %}

<ul class="custom-breadcrumb">
{% spaceless %}
{% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}
{% endspaceless %}
</ul>

</div><!-- topwrapper -->

<div id="contentwrapper" class="container">
<div class="row">
{% block corecontent %}

    <div id="content" class="span12 middle">
    <h1>{% block title %}{% endblock %}</h1>
        {% block main %}{% endblock %}
    </div>

        {% block right_panel %}
        {% endblock %}

{% endblock %}
</div>
</div><!-- contentwrapper container -->
{% endblock contentwrapper %}

<div id="footer" class="container">
{% page_menu "pages/menus/footer.html" %}
<br style="clear:both">
<p>
    (c) SkyFalk Studio, 2012, design by Dmitry Falk
    {% ifinstalled mezzanine.mobile %}
    <span class="separator">|</span>
    <a href="{% url set_device "mobile" %}?next={{ request.path }}">{% trans "View Mobile Site" %}</a>
    {% endifinstalled %}
</p>
</div><!-- footer container -->

{% include "includes/footer_scripts.html" %}

</body>
</html>
