.topblock .span6 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.topblock #textblock {
    font: italic 28px Georgia;
    margin-top: 110px;
}    

.topblock img {
    box-shadow: 0 0 0px;
}

.portfolio li {
    display: inline;
}

.portfolio li .img-placeholder {
    width: 320px;
    height: 280px;
}
