{% extends "base.html" %}

{% load i18n mezzanine_tags %}

{% block full_meta_title %}
{% if settings.SITE_TITLE %}{{ settings.SITE_TITLE }}
{% if settings.SITE_TAGLINE %} - {{ settings.SITE_TAGLINE }}{% endif %}
{% else %}{% trans "Home" %}{% endif %}
{% endblock %}

{% block title %}

{% endblock %}

{% block breadcrumb_menu %}

{% endblock %}

{% block full %}

<div class="row topblock">
    <div id="textblock" class="span6">
    Разработка сайтов с ветерком. Покоряйте интернет с нами!
    </div>
    <div class="span6">
    <img src="{{ STATIC_URL }}img/collage.png" />
    </div>
</div>

{% editable page.richtextpage.content %}
{{ page.richtextpage.content|richtext_filter|safe }}
{% endeditable %}

{% endblock %}
