{% load i18n mezzanine_tags %}

<div id="userpanel">
Добро пожаловать, <b>
{% if request.user.is_authenticated %}
    {% url profile user.username as profile_url %}
    {% if profile_url %}
        <a href="{{ profile_url }}">{{ request.user.username }}</a>!
    {% else %}
        {{ request.user.username }}!
    {% endif %}
{% else %}
    Гость!
{% endif %}
</b>

<div id="userlinks">
{% if request.user.is_authenticated %}
    <a href="{{ settings.LOGOUT_URL }}?next={{ request.path }}">Выход</a>
{% else %}
    <a href="{% url login %}?next={{ request.path }}">Вход</a>
{% endif %}
</div>
</div>
